In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Placement_preprocessed.csv")

In [3]:
dataset

,gender,ssc_b,hsc_b,hsc_s,degree_t,workex,specialisation,status,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
0,M,Others,Others,Commerce,Sci&Tech,No,Mkt&HR,Placed,1.0,67.00,91.00,58.00,55.0,58.80,270000.0
1,M,Central,Others,Science,Sci&Tech,Yes,Mkt&Fin,Placed,2.0,79.33,78.33,77.48,86.5,66.28,200000.0
2,M,Central,Central,Arts,Comm&Mgmt,No,Mkt&Fin,Placed,3.0,65.00,68.00,64.00,75.0,57.80,250000.0
3,M,Central,Central,Science,Sci&Tech,No,Mkt&HR,Not Placed,4.0,56.00,52.00,52.00,66.0,59.43,0.0
4,M,Central,Central,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed,5.0,85.80,73.60,73.30,96.8,55.50,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,M,Others,Others,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed,211.0,80.60,82.00,77.60,91.0,74.49,400000.0
211,M,Others,Others,Science,Sci&Tech,No,Mkt&Fin,Placed,212.0,58.00,60.00,72.00,74.0,53.62,275000.0
212,M,Others,Others,Commerce,Comm&Mgmt,Yes,Mkt&Fin,Placed,213.0,67.00,67.00,73.00,59.0,69.72,295000.0
213,F,Others,Others,Commerce,Comm&Mgmt,No,Mkt&HR,Placed,214.0,74.00,66.00,58.00,70.0,60.23,204000.0
214,M,Central,Others,Science,Comm&Mgmt,No,Mkt&HR,Not Placed,215.0,62.00,58.00,53.00,89.0,60.22,0.0

Independent t-test (Unpaired T-test)
Different groups same condition

In [4]:
from scipy.stats import ttest_ind
central=dataset[dataset['hsc_b']=='Central']['salary']
others=dataset[dataset['hsc_b']=='Others']['salary']
ttest_ind(central,others)

TtestResult(statistic=-0.1684880697892395, pvalue=0.8663592108619098, df=213.0)

pvalue = 86% indicates large difference between the groups. Hence the result is not statiscally significant.

Dependent T-test(Paired T-test)
Same group different condition

In [5]:
from scipy.stats import ttest_rel
mba=dataset[dataset['hsc_s']=='Commerce']['mba_p']
etest=dataset[dataset['hsc_s']=='Commerce']['etest_p']
ttest_rel(mba,etest)

TtestResult(statistic=-7.868552092606871, pvalue=2.462926468454984e-12, df=112)

pvalue=246% indicates large difference between the groups. Hence the result is not statiscally significant.

One Way ANOVA

In [6]:
import scipy.stats as stats
stats.f_oneway(dataset['ssc_p'],dataset['hsc_p'],dataset['degree_p'])

F_onewayResult(statistic=0.6719700864663097, pvalue=0.5110602818995302)

pValue is greater than 0.05, hence the result is not statistically significant. In this case, we would accept the Null hypothesis.

Two way ANOVA

In [7]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
model = ols('salary ~ etest_p*mba_p',data=dataset).fit()
sm.stats.anova_lm(model,typ=1)

                  df        sum_sq       mean_sq         F    PR(>F)
etest_p          1.0  1.792564e+11  1.792564e+11  7.807616  0.005682
mba_p            1.0  5.280894e+10  5.280894e+10  2.300124  0.130860
etest_p:mba_p    1.0  5.037634e+10  5.037634e+10  2.194171  0.140026
Residual       211.0  4.844385e+12  2.295917e+10       NaN       NaN

etest_p pValue is less than 0.05 which means the result does possess a statistically significant effect on salary.
mba_p pValue is greater than 0.05 which means the result does not possess a statistically significant effect on salary.
pValue for the interaction effect is greater than 0.05 which means there is no significant interaction between etest_p and mba_p.